﻿{% extends "layout/basic.html" %} 
{% block content %}
{% if perms.duty.add_commandline %}
	<p><a href="{% url 'view_list' 'commands' 0 'edit'%}">ДОБАВИТЬ НОВУЮ</a></p>
{% endif %}
<div>
	<table class="view_table">
	{% for bb in bbs %}
		<tr class = "table_view_tr">
			<td class = "table_view_td_name">
				{% if perms.duty.change_commandline %}
					<a href="{% url 'view_list' 'commands' bb.pk 'edit'%}">{{ bb.name }}</a>
				{% else %}
					{{ bb.name }}
				{% endif %}
			</td>
			{% if perms.duty.delete_commandline %}
				<td class = "table_view_td_del">
					<a href="{% url 'view_list' 'commands' bb.pk 'del'%}">Удалить...</a>
				</td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock %} 
