﻿{% extends "layout/basic.html" %} 
{% block content %}
<p><a href="{% url 'view_list' 'lines' 0 'edit'%}">ДОБАВИТЬ НОВУЮ</a></p>
<div>
	<table class="view_table">
{% for bb in bbs %}
		<tr class = "table_view_tr">
			<td class = "table_view_td_name" >
				<a href="{% url 'view_list' 'lines' bb.pk 'edit'%}">{{ bb.name }}</a>
			</td>
			<td class = "table_view_td_del">
				<a href="{% url 'view_list' 'lines' bb.pk 'del'%}">Удалить...</a>
			</td>
		</tr>
{% endfor %}
	</table>
</div>
{% endblock %} 
