﻿{% extends "layout/basic.html" %} 
{% block content %}
<p><a href="{% url 'view_list' 'periods' 0 'edit'%}">ДОБАВИТЬ НОВЫЙ</a></p>
<div>
	<table class="view_table">
	{% for bb in bbs %}
		<tr class = "table_view_tr">
			<td class = "table_view_td_name" >
				<a href="{% url 'view_list' 'periods' bb.pk 'edit'%}">{{ bb.month }}</a>
			</td>
			<td class = "table_view_td_name" >
				<a href="{% url 'view_list' 'periods' bb.pk 'edit'%}">{{ bb.year }}</a>
			</td>
			<td class = "table_view_td_del">
				<a href="{% url 'view_list' 'periods' bb.pk 'del'%}">Удалить...</a>
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
{% endblock %} 
